@import "../../styles/variables.scss";

// Sizing.
$grid-gap-lg: 8px;
$grid-padding-lg: $spacing-md;
$cell-height-lg: 48px;
$cell-width-lg: 48px;

$grid-gap-sm: 2px;
$grid-padding-sm: 2px;
$cell-height-sm: 32px;
$cell-width-sm: 32px;

$grid-gap-xs: 2px;
$grid-padding-xs: 2px;
$cell-height-xs: 24px;
$cell-width-xs: 24px;

// Colours.
$default-bg-colour: white;
$header-bg-colour: $grey-100;
$header-btn-colour: $grey-400;
$header-btn-hover-bg-colour: $grey-200;

$days-of-week-colour: $grey-400;

$day-hover-bg-colour: $primary-100;

$selected-bg-colour: $primary-500;
$selected-text-colour: $text-100;
$selection-indicator-bg-colour: $primary-300;
$selection-indiciator-text-colour: $text-700;
$deselection-indiciator-bg-colour: $grey-200;
$deselection-indiciator-text-colour: $text-700;
$not-current-month-bg-colour: $grey-100;

// Animation.
$hover-transition-duration: 70ms;

.calendarMonth {
    position: relative;
    user-select: none;
    width: fit-content;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    overflow: auto;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $header-bg-colour;
        padding: $spacing-sm;

        .selectedMonth {
            font-size: $font-size-md;
            line-height: $font-size-md;
            margin-bottom: 2px;
            max-width: 150px;
            width: 100%;
            text-align: center;
            color: $grey-600;
        }

        @mixin header-btn {
            font-size: $font-size-sm;
            cursor: pointer;
            color: $header-btn-colour;
            display: flex;
            padding: $padding-xs;
            border-radius: 50%;
            transition: all $hover-transition-duration ease-in-out;

            &:hover {
                background: $header-btn-hover-bg-colour;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            }

            &:active {
                transform: scale(0.8);
            }
        }

        .prevMonthButton {
            @include header-btn;
            svg {
                transform: translateX(-1px);
            }
        }

        .nextMonthButton {
            @include header-btn;
            svg {
                transform: translateX(1px);
            }
        }
    }

    .daysOfWeek {
        color: $days-of-week-colour;
        font-size: $font-size-sm;
        padding: 10px 0 5px 0;
        list-style: none;
        background-color: $header-bg-colour;
        margin: 0;
        width: fit-content;

        // Show 7 equally sized columns for monday, tuesday, ...
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: $grid-gap-lg;
        padding: $grid-padding-lg;

        li {
            text-align: center;
            width: $cell-width-lg;
        }
    }

    .dayGrid {
        // Show 7 equally sized columns for aligning days to monday, tuesday,
        // ... and so on.
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: $grid-gap-lg;
        grid-row-gap: $grid-gap-lg;
        border-top: solid 1px $grey-200;
        margin: 0;
        width: fit-content;
        padding: $grid-padding-lg;

        height: 100%;
        position: relative;
        list-style: none;

        .dayCell {
            position: relative;
            height: $cell-height-lg;
            width: $cell-width-lg;
            font-size: $font-size-sm;
            display: flex;
            align-items: center;
            justify-content: center;

            .day {
                border-radius: 50%;
                line-height: $font-size-sm;
                display: flex;
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;
                transition: all $hover-transition-duration ease-in-out;
            }

            // The calendar will render all days in the selected month, however
            // it will also render days from the previous and next month to
            // fill the first and last rows. This class is applied to those
            // filler days, not in the current month.
            &.notCurrentMonth {
                color: $grey-500;
            }

            &:hover > .day {
                background-color: $day-hover-bg-colour;
            }

            // When the user is attempted to select a range, we should show them
            // which days are part of that range.
            @mixin in-selection-range {
                background-color: $selection-indicator-bg-colour !important;
                color: $selection-indiciator-text-colour !important;
                font-weight: bold;
            }
            @mixin in-deselection-range {
                background-color: $deselection-indiciator-bg-colour !important;
                color: $deselection-indiciator-text-colour !important;
                font-weight: bold;
            }

            &.notSelected {
                &.pressed > .day {
                    @include in-selection-range;
                    transform: scale(0.8);
                }
            }

            &.inSelectionRange > .day {
                @include in-selection-range;
                transform: scale(0.8);
            }

            &.inDeselectionRange > .day {
                @include in-deselection-range;
                transform: scale(0.8);
            }

            // When a day is selected for consideration:
            &.selected {
                .day {
                    background-color: $selected-bg-colour;
                    color: $selected-text-colour;
                }

                // When a selected day is clicked on:
                &.pressed > .day {
                    @include in-deselection-range;
                }
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .calendarMonth {
        .daysOfWeek {
            grid-column-gap: $grid-gap-sm;
            padding: $grid-padding-sm;
            position: relative;

            li {
                width: $cell-width-sm;
                visibility: hidden;
                overflow: hidden;

                &:first-letter {
                    padding-left: 8px;
                    visibility: visible;
                }
            }
        }
        .dayGrid {
            padding: $grid-padding-sm;
            grid-column-gap: $grid-gap-sm;
            grid-row-gap: $grid-gap-sm;

            .dayCell {
                width: $cell-width-sm;
                height: $cell-height-sm;
                font-size: small;
            }
        }
    }
}

@media screen and (max-width: $xs) {
    .calendarMonth {
        .header {
            .selectedMonth {
                width: 100px;
                font-size: $font-size-sm;
            }
        }
        .daysOfWeek {
            grid-column-gap: $grid-gap-xs;
            padding: $grid-padding-xs;
            position: relative;
            font-size: $font-size-xs;

            li {
                width: $cell-width-xs;
                visibility: hidden;
                overflow: hidden;

                &:first-letter {
                    padding-left: 8px;
                    visibility: visible;
                }
            }
        }
        .dayGrid {
            padding: $grid-padding-xs;
            grid-column-gap: $grid-gap-xs;
            grid-row-gap: $grid-gap-xs;

            .dayCell {
                width: $cell-width-xs;
                height: $cell-height-xs;
                font-size: small;
            }
        }
    }
}
