@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.btn {
    @include reset-button;

    background: $primary-500;
    padding: $padding-sm $padding-lg;
    border-radius: 100px;
    color: $grey-100;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

    transition: 0.2s all ease-in-out;

    &:hover {
        transform: scale(1.05);
        color: $primary-700;
        background: $primary-200;
    }
}
