@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.btn {
    @include reset-button;

    background: $primary-500;
    padding: $padding-xs $padding-md;
    border-radius: 100px;
    color: $grey-100;
    cursor: pointer;
}
