@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.button {
    @include reset-button;

    border-radius: 5px;
    background: $grey-50;
    color: $grey-600;
    padding: 0 $padding-lg 0 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: $spacing-sm;

    transition: 0.2s all ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    .googleIcon {
        background: white;
        height: 40px;
        width: auto;
        padding: $padding-xs;
        border-radius: 5px;
    }

    &.dark {
        background: #4c8bf5;
        color: $grey-50;
    }
}
