@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.btn {
    @include reset-button;
    background: $grey-200;
    width: $font-size-xl;
    height: $font-size-xl;
    padding: $padding-sm;
    border-radius: 50%;
    transition: all 100ms ease-in-out;

    &:hover {
        transform: scale(1.025);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px;
    }

    .icon {
        width: 100%;
        height: 100%;
        // width: $font-size-md;
        // height: $font-size-md;
    }

    &.dark {
        background: $grey-700;

        .icon {
            * {
                fill: $grey-100;
            }
            fill: $grey-100;
        }
    }
}
