@import "../../styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - $topnav-height);
    height: fit-content;

    transition: 0.2s background ease-in-out, 0.2s color ease-in-out;
    &.dark {
        background: $grey-800;
        color: $grey-100;
    }
}
