@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;

    margin-bottom: $margin-md;

    .textFieldContainer {
        display: flex;
        align-items: center;
        column-gap: $spacing-xs;

        .textField {
            padding: $spacing-md;
            border: 1px solid rgba(128, 128, 128, 0.3);
            border-radius: 12px;
            max-width: 220px;
            width: 100%;
            background: white;

            &.dark {
                background: $grey-700;
                color: $grey-50;
            }

            &::placeholder {
                color: $grey-350;
            }

            &:focus {
                box-shadow: rgba($primary-500, 0.16) 0px 10px 36px 0px,
                    rgba($primary-500, 0.06) 0px 0px 0px 1px;
                outline: 1px solid $primary-500;
            }
        }
        .infoBtn {
            @include reset-button;

            svg {
                height: $font-size-sm;
                width: $font-size-sm;
                fill: $primary-500;

                margin-left: auto;
                cursor: pointer;
            }
        }
    }

    .label {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        align-items: center;

        .labelText {
            color: $grey-500;
            font-size: small;
        }
        .asterisk {
            height: $font-size-sm;
            width: $font-size-sm;
            fill: $grey-400;
        }
    }
}
