@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;

    margin-bottom: $margin-md;

    &.title {
        max-width: 300px;
        margin: $spacing-xl auto 0 auto;
    }

    .textFieldContainer {
        display: flex;
        align-items: center;
        column-gap: $spacing-xs;

        .textField {
            padding: $spacing-md;
            border: 1px solid rgba(128, 128, 128, 0.3);
            border-radius: 12px;
            max-width: 300px;
            width: 100%;
            background: white;

            &.title {
                max-width: 300px;
                text-align: center;
            }

            &.dark {
                background: $grey-700;
                color: $grey-50;
            }

            &::placeholder {
                color: $grey-350;
            }

            &:focus {
                box-shadow: rgba($primary-500, 0.16) 0px 10px 36px 0px,
                    rgba($primary-500, 0.06) 0px 0px 0px 1px;
                outline: 1px solid $primary-500;
            }
        }
        .infoBtn {
            @include reset-button;

            svg {
                height: $font-size-sm;
                width: $font-size-sm;
                @include color-icon($primary-500);

                margin-left: auto;
                cursor: pointer;
            }
        }
    }

    .combobox {
        .textField {
            &.matchesItem {
                border: 2px solid $green-300;
            }
            &:not(.matchesItem) {
                border: 2px solid $primary-500;
            }
        }
    }

    .label {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        align-items: center;
        color: $grey-600;
        font-size: small;

        &.title {
            font-size: large;

            &.dark {
                color: $grey-100;
            }

            label {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                font-family: "Montserrat", sans-serif;
                margin-bottom: $spacing-sm;
            }

            .asterisk {
                display: none;
            }
        }

        &.dark {
            color: $grey-100;
        }

        .asterisk {
            height: $font-size-sm;
            width: $font-size-sm;
            @include color-icon($grey-400);
        }
    }
}

@media screen and (max-width: $sm) {
    .inputContainer {
        max-width: 220px;
        .textFieldContainer {
            max-width: 220px;
            .textField {
                max-width: 220px;
            }
        }
    }
}
