@import "../../styles/variables.scss";

$time-block-height: 20px;
$time-block-row-gap: 2px;
$time-block-width: 80px;

.timetable {
    display: flex;
    flex-direction: row;
    column-gap: $spacing-md;
    flex: 0 0 100%;
    overflow: auto;
    user-select: none;

    &.disabled {
        pointer-events: none;
        filter: blur(3px);
    }

    .timeBlockLabels {
        display: flex;
        flex-direction: column;
        row-gap: $time-block-row-gap;
        padding-top: calc($time-block-height / 2);

        .label {
            height: $time-block-height;
        }
    }

    .columnGroup {
        display: flex;
        flex-direction: row;

        .column {
            display: flex;
            flex-direction: column;
            row-gap: $time-block-row-gap;

            min-width: $time-block-width;
            margin-right: 2px;

            // &:not(:last-child) {
            // border-right: 1px solid $grey-400;
            // }

            .dateLabel {
                text-align: center;
                font-weight: bold;
            }

            .timeBlock {
                background-color: $grey-200;
                height: $time-block-height;
                cursor: pointer;

                &.selected {
                    background: yellow;
                    border: 1px solid black;
                }

                &.inSelectedArea {
                    background: blue;
                    cursor: move;
                }

                &.pressed {
                    background: gold;
                }
            }
        }
    }
}
