@import "../../styles/variables.scss";

// Sizing.
$time-block-height: 30px;
$time-block-row-gap: 2px;
$time-block-width: 75px;

// Colours.
$selected-bg-colour: $primary-500;
$default-bg-colour: white;
$default-bg-colour-dark: $grey-700;

:export {
    defaultColour: $default-bg-colour;
    defaultColourDark: $default-bg-colour-dark;
    selectedColour: $selected-bg-colour;
}

.header {
    text-align: center;

    // This is equal to the width of the time labels occupying the first column
    // of the grid.
    margin-left: $time-label-width;
}

.grid {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    overflow-x: auto;
    padding-bottom: 32px;

    &:first-child {
        margin-left: auto;
    }
    &:last-child {
        margin-right: auto;
    }

    &.disabled {
        pointer-events: none;
        filter: blur(3px);
    }

    .timeLabel {
        position: relative;
        user-select: none;
        font-family: "Montserrat", sans-serif;

        .text {
            color: $grey-600;
            position: absolute;
            transform: translateY(-40%);
            right: 10px;
        }

        &:nth-child(2n) {
            font-size: small;
            .text {
                color: $grey-400;
                font-weight: lighter;
            }
        }
    }

    .interval {
        display: grid;
        grid-template-rows: repeat($time-block-height, 49);
        grid-auto-columns: minmax(80px, 100px);
        grid-row-gap: 0;
        grid-column-gap: 0;
        justify-content: start;

        // Date labels.
        &:first-child {
            grid-template-columns: minmax(80px, 100px);
        }

        .dateLabel {
            text-align: center;
            user-select: none;
            font-family: "Montserrat", sans-serif;
            margin-bottom: $spacing-xs;

            .date {
                display: block;
                font-size: small;
            }
            .dayOfWeek {
                font-weight: bold;
                display: block;
            }
        }

        .timeBlock {
            background: $default-bg-colour;
            // height: $time-block-height;
            cursor: pointer;
            box-sizing: border-box;
            transition: background 50ms ease-in-out;

            &:hover {
                background: $primary-100 !important;
            }

            &.selected {
                background: $selected-bg-colour !important;
            }

            &.inSelectedArea {
                background: $selection-indicator-bg-colour !important;
                cursor: move;
            }

            &.inDeselectedArea {
                background: $deselection-indicator-bg-colour !important;
                cursor: move;
            }

            &.pressed {
                background: $selection-indicator-bg-colour !important;
            }
        }
    }

    &.dark {
        .timeLabel {
            .text {
                color: $grey-200;
            }
        }
        .interval {
            .timeBlock {
                background: $default-bg-colour-dark;
            }
        }
    }
}
