@import "../../styles/variables.scss";

.eventNameContainer {
    margin-bottom: $margin-3xl;
}

.heading {
    text-align: center;
}

.calendarAndMapContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: $margin-2xl;
    margin-bottom: $margin-3xl;
}

.timetableContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: center;
    column-gap: $spacing-xl;
    row-gap: $spacing-3xl;
    align-items: flex-start;
}
