@import "../../styles/variables.scss";

.eventNameContainer {
    margin-bottom: $margin-3xl;
}

.header {
    text-align: center;

    p {
        max-width: 24em;
        margin: 0 auto;
    }
}

.calendarAndMapContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: $margin-xl;
}

.timetableContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: center;
    column-gap: $spacing-xl;
    row-gap: $spacing-3xl;
    align-items: flex-start;
    margin-top: $margin-2xl;
}

.featureRequest {
    margin: 64px 0 32px 0;
}
