@import "../../styles/variables.scss";

.eventNameContainer {
    margin-bottom: $margin-3xl;
}

.header {
    text-align: center;

    p {
        max-width: 24em;
        margin: 0 auto;
    }
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-xl;
}

.calendarAndMapContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timetableContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: center;
    column-gap: $spacing-xl;
    row-gap: $spacing-3xl;
    align-items: flex-start;
}

.featureRequest {
    margin: $spacing-5xl 0 $spacing-lg 0;
}

@media screen and (max-width: $sm) {
    .timetableContainer {
        justify-content: flex-start;
    }
}
