@import "../../styles/variables.scss";

.eventName {
    margin: $spacing-xl;

    label {
        display: block;
        text-align: center;
    }
    input {
        margin: 0 auto;
        display: block;
    }
}

.calendarAndMapContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
