@import "../.././styles/variables.scss";
@import "../.././styles/mixins.scss";

.btn {
    @include reset-button;

    height: 20px;
    width: 20px;

    .icon {
        height: 20px;
        width: 20px;
        cursor: pointer;
        margin-right: $spacing-xs;
        transition: 0.2 all ease-in-out;

        &.dark {
            * {
                fill: white !important;
            }
        }
    }
}
