@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
    margin-top: auto;
    margin-bottom: 13px;

    .footerItems {
        @include reset-list;

        margin-top: $spacing-lg;
        display: flex;
        flex-direction: row;
        column-gap: $spacing-xs;
        justify-content: center;

        li {
            color: $grey-400;

            a {
                &:hover {
                    border-bottom: 1px dashed $grey-500;
                }
            }
        }

        .divider {
            filter: brightness(250%);
        }
    }
}

@media screen and (max-width: $sm) {
    .footer {
        .footerItems {
            font-size: smaller !important;
        }
    }
}

@media screen and (max-width: $xs) {
    .footer {
        .footerItems {
            flex-direction: column;
            row-gap: $spacing-xs;
            align-items: center;

            .divider {
                display: none;
            }
        }
    }
}
