@import "../../styles/variables.scss";

.container {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    .statusContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 4px;
        margin-top: $spacing-xs;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .icon {
            height: 20px;
            width: 20px;
            opacity: 0.9;
        }

        .statusMessage {
            opacity: 0.9;
            user-select: none;
        }

        &.success {
            .icon {
                * {
                    fill: $green-400;
                }
            }
            .statusMessage {
                color: $green-400;
            }
        }

        &.failure {
            .icon {
                * {
                    fill: $red-400;
                }
            }
            .statusMessage {
                color: $red-400;
            }
        }

        &.pending {
            .icon {
                * {
                    fill: $grey-500;
                }
            }
            .statusMessage {
                color: $grey-500;
            }
        }
    }
}
