@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.header {
    text-align: center;
    margin-top: $margin-3xl;
    padding: $spacing-md;
    color: $grey-500;

    &.dark {
        color: $grey-300;
    }

    .tagline {
        font-size: large;
        font-weight: normal;
    }

    .features {
        @include reset-list;

        margin: $margin-xl auto 0 auto;
        width: fit-content;
        text-align: left;

        font-weight: lighter;

        li {
            display: flex;
            align-items: center;
            column-gap: $spacing-xs;

            &:not(:last-child) {
                margin-bottom: $margin-sm;
            }

            .check {
                width: $font-size-sm;
                height: $font-size-sm;
                @include color-icon($primary-500);
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: $spacing-md;

    padding: $spacing-md;
    margin-top: $margin-3xl;

    .callToAction {
        display: flex;
        align-items: center;

        h2 {
            font-size: $font-size-md;
        }

        .arrowIcon {
            height: $font-size-xl;
            width: $font-size-xl;
            position: relative;

            &.dark {
                @include color-icon(white);
            }
        }
    }

    .startForm {
        width: 250px;
        margin: 0 auto;
    }
}
