// ━━━━ Sizing ━━━━
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 48px;
$spacing-3xl: 64px;

$padding-xs: 8px;
$padding-sm: 12px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;
$padding-2xl: 48px;
$padding-3xl: 64px;

$margin-xs: 8px;
$margin-sm: 12px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 32px;
$margin-2xl: 48px;
$margin-3xl: 64px;
$margin-4xl: 96px;
$margin-5xl: 120px;
$margin-6xl: 196px;

$line-height-xs: 8px;
$line-height-sm: 16px;
$line-height-md: 32px;
$line-height-lg: 48px;

$font-size-xs: 0.618em;
$font-size-sm: 1em;
$font-size-md: 1.618em;
$font-size-lg: 2em;

$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// ━━━━ Colours ━━━━
$grey-50: #f9fafb;
$grey-100: #f4f5f7;
$grey-200: #e5e7eb;
$grey-300: #d2d6dc;
$grey-400: #9fa6b2;
$grey-500: #6b7280;
$grey-600: #4b5563;
$grey-700: #374151;
$grey-800: #252f3f;
$grey-900: #161e2e;

$green-50: #f2feee;
$green-100: #cff7c9;
$green-200: #91e396;
$green-300: #52d080;
$green-400: #3eb574;
$green-500: #288d60;
$green-600: #216b44;
$green-700: #18533a;
$green-800: #113b34;
$green-900: #0a2627;

$blue-50: #ebf5ff;
$blue-100: #e1effe;
$blue-200: #c3ddfd;
$blue-300: #a4cafe;
$blue-400: #76a9fa;
$blue-500: #3f83f8;
$blue-600: #1c64f2;
$blue-700: #1a56db;
$blue-800: #1e429f;
$blue-900: #233876;

$teal-50: #eefdfe;
$teal-100: #cff3fb;
$teal-200: #8ed8e9;
$teal-300: #62bde4;
$teal-400: #4d9dce;
$teal-500: #277fb5;
$teal-600: #1c5b92;
$teal-700: #154876;
$teal-800: #0f3451;
$teal-900: #082530;

$purple-50: #fef7ff;
$purple-100: #f8ddf4;
$purple-200: #e8ade1;
$purple-300: #d882d9;
$purple-400: #bf62cf;
$purple-500: #9b47b2;
$purple-600: #743095;
$purple-700: #57237e;
$purple-800: #3d1867;
$purple-900: #2a0d53;

$red-50: #fff1f1;
$red-100: #ffd7d9;
$red-200: #ffb3b8;
$red-300: #ff8389;
$red-400: #fa4d56;
$red-500: #da1e28;
$red-600: #a2191f;
$red-700: #750e13;
$red-800: #520408;
$red-900: #2d0709;

$orange-50: #fdfdea;
$orange-100: #fdf6b2;
$orange-200: #fce96a;
$orange-300: #faca15;
$orange-400: #e3a008;
$orange-500: #c27803;
$orange-600: #9f580a;
$orange-700: #8e4b10;
$orange-800: #723b13;
$orange-900: #633112;

$primary-50: $blue-50;
$primary-100: $blue-100;
$primary-200: $blue-200;
$primary-300: $blue-300;
$primary-400: $blue-400;
$primary-500: $blue-500;
$primary-600: $blue-600;
$primary-700: $blue-700;
$primary-800: $blue-800;
$primary-900: $blue-900;

$secondary-50: $green-50;
$secondary-100: $green-100;
$secondary-200: $green-200;
$secondary-300: $green-300;
$secondary-400: $green-400;
$secondary-500: $green-500;
$secondary-600: $green-600;
$secondary-700: $green-700;
$secondary-800: $green-800;
$secondary-900: $green-900;

// ━━━━━ Text ━━━━━
$text-black: rgb(0 0 0);
$text-white: rgb(255 255 255);

$text-50: rgb(248 250 252);
$text-100: rgb(241 245 249);
$text-200: rgb(226 232 240);
$text-300: rgb(203 213 225);
$text-400: rgb(148 163 184);
$text-500: rgb(100 116 139);
$text-600: rgb(71 85 105);
$text-700: rgb(51 65 85);
$text-800: rgb(30 41 59);
$text-900: rgb(15 23 42);
